<!DOCTYPE html>
<html>
    <head>
        <title>Event Chat</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row shadow mt-4">
                <div class="badge" style="background-color: rgb(213, 248, 145);">
                    <p class="fs-1" style="color: black;">Welcome to Event Chat!</p> 
                </div>
            </div>

            <div class="row mt-5">
                <h1>
                    400 Bad Request. <br>
                </h1>
                <hr/>
                <p>
                    Invalid argument error. Please make sure you're connecting through AMT.
                </p>
            </div>
        </div>
    </body>
</html>