<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Event Chat</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
  </head>
  <body>
    <div class="container">
      <!-- <div class="row shadow mt-4">
        <div class="badge d-inline-flex justify-content-center" style="background-color: rgb(213, 248, 145);">
            <p class="fs-3" style="color: black;">Matched: Worker {{room_client_info['speaker_1']}} and Worker {{room_client_info['speaker_2']}}</p> 
        </div>
      </div> -->
    
      <div id="room_info">
        <input type="hidden" id="workerId" value="{{room_client_info['worker_id']}}"/>
        <input type="hidden" id="roomId" value="{{room_client_info['room_id']}}"/>
      </div>

      <div class="row mt-5">
        <p>
          You are matched with your task partner. You can start the conversation by typing in the message area and hit the Post button.
        </p>
        <p>Chat history</p>
        <div class="overflow-auto" style="height: 30vh; background-color: azure;" id="inbox_container">
          <div class=""></div>
          <div class="col-9 align-self-end list-group d-inline-block" id="inbox">

          </div>
        </div>
      </div>

      <div class="row" id="input">
        <!-- <div class="row">
          <div class="col">
            <label>Your ID: {{room_client_info['worker_id']}}</label>
          </div>
        </div> -->

        <div class="row mt-3">
          <div class="col">
            <textarea name="body" id="message" style="width: 40vw;" placeholder="Your message ..."></textarea>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-2">
              <input class="btn btn-primary" type="button" value="Post" id="new_message">
              <input type="hidden" name="next" value="{{ request.path }}?workerId={{room_client_info['worker_id']}}">
          </div>
          <div class="col-2">
              <input type="button" class="btn btn-primary" value="End Current Session" id="new_session" data-bs-toggle="modal" data-bs-target="#time_machine" disabled="true"/>
              <p id="sessions_finished">Sessions you have finished: 0</p>
              <input type="hidden" name="nextSession" value="{{ request.path }}?workerId={{room_client_info['worker_id']}}"/>
          </div>
        </div>
        <div class="row mt-3" id="events">
          <p>
            <strong>Initial Event:</strong> {{room_client_info["events_info"]["progress"]}}
          </p>
        </div>
      </div>

      <div class="row mt-3">
        <p>At least <strong id="min_utterance"></strong> utterances are required for each session. At least <strong id="min_session"></strong> sessions are required.</p>
      </div>

      <!-- Modal Time Machine -->
      <div class="modal fade" id="time_machine" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
              Time Machine
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- modal body -->
            <div class="modal-body">
              The previous session has finished. <br>
              We are taking you to some time later in the future! <br>

              Please confirm the events in your event area. <br>
            </div>

            <!-- modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
      <!-- Modal -->

      <!-- Modal Instruction -->
      <div class="modal fade bd-example-modal-lg" id="instruction" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              Instruction
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="row text-left">
                <h2 class="mt-2">Task Description</h2>
                <p>
                    In this task, you will have a conversation about specific <strong>events</strong>. <br>
                    The events are some activities/events you are engaging in at the current time. (e.g., writing a novel, having a trip) <br>
                    The conversation is multi-session style. And at the beginning of the first session, you will be assigned an initial event. <br>
                    In the subsequent sessions, you will need to talk about the progress of these events. <br>
                    The conversation should be <strong>natural</strong> as between two friends and should NOT discuss anything about this HIT.<br>
                    <strong style="color: red;">Please make sure to check the negative examples.</strong>
                <!-- In this task, you have a <strong>multi-session conversation</strong> on some events (e.g., writing a novel, having a trip, etc.) you are assigned.<br>
                In each session, you need to <strong>update your progress</strong> with another speaker. <br>
                You need to keep the conversation as <strong>natural</strong> as possible. <br> -->
                </p>

                <!-- In this task, you will be paired with another participant and engage in a <strong>multi-session conversation</strong>.
                At the beginning of each conversation, you will be provided with an intial event (e.g., writing a novel,
                having a trip, etc.). You will need to share with your task partner the progress of this event in the subsequent sessions. -->
                <!-- <p>
                During each session, you need to imagine that a certain time has passed since the previous session and have the new session with respect to 
                the time and the progress of the event.
                </p> -->

                <h2 class="mt-2">Instructions</h2>    
                <h4>Step 1: Match</h4>
                <p>
                    When you are ready for the task, hit the <strong>Start Matching</strong> button at the bottom of this page.
                </p>
                <h4>Step 2: Confirm your initial progress events</h4>
                <img src="{{ static_url("img\initial_event.png") }}" style="width: 50%;">
                <p>
                    Before chatting, you will need to confirm your <strong>initial event</strong>, and share this with another
                    speaker.<br>
                    The initial event is a event you will be working on from current time point. <br>
                    E.g., <i>You just started writing your doctor thesis, which would take about one year.</i> <br>
                    You are also encouraged to create your own events and subsequent time-based progress. 
                </p>
                <h4>Step 3: Have the conversation for this session</h4>
                <img src="{{ static_url("img\chat.png") }}" style="width: 35%;">
                <p>
                    Input your text in the textarea and hit the Post button to send your message. <br>
                    You can check the history any time during the task. <br>
                    <i>Your messages can NOT be deleted once sent.</i>
                </p>
                <h4>Step 4: End current session and move the time forward</h4>
                <img src="{{ static_url("img\end_session.png") }}" style="width: 50%;">
                <p>
                    You will need to have at least <strong>20</strong> utterances (together with the other speaker) until
                    the "End Current Session" button becomes enabled. <br>
                    We recommend all participants to end the session as natural as possible. <br>
                    Participants who provide high quality dialogue data will be rewarded. <br>
                <p>
                    By clicking the <strong>End Current Session</strong> button, you will move the time forward with a period
                    of time (e.g., 1 week, 1 month, etc.) and start a new session with another speaker. <br>
                </p>

                <h4>Step 5: Confirm the progress and new events</h4>
                <img src="{{ static_url("img\progress.png") }}" style="width: 50%;">
                <p>
                    A new session will provide you the following information: <br>
                    <strong>Progress</strong> describes the progress of your initial event.<br>
                    <strong>Life events</strong> are some events you could have done during that time (something happen to you). <br>
                    <strong>World events</strong> are some events happen in the world (news). <br>
                    <strong>Future plans</strong> are something you will do from now.
                </p>

                <p>
                    You can develop the conversation based on these events. <br>
                    You do NOT have to include every event. Instead, make the conversation as natural as possible while using these events smartly.<br>
                </p>

                <p>
                    Repeat step 3-5 until the end of the multi-session conversation. <br>
                    You will need to finish at least <strong>3 sessions</strong> to complete this HIT.
                </p>
                <h2 class="mt-2">Evaluation Criteria (Important)</h2>
                <p>
                    1. <strong>Talk about the events.</strong> You need to talk about the events, rather than having free chitchats. <br>
                    2. <strong>Naturalness.</strong> You are able to do free conversation, however, you are responsible to make your conversation natural. <br>
                    3. <strong>Fluent English.</strong> Your must communicate in English fluently. <br>
                    4. <strong>Non-offensive.</strong> You are not allowed to post any offensive, abusive and harmful messages in the conversation. 
                </p>

                <h2>About Task Submission</h2>
                <img src="{{ static_url("img\submission.png") }}" style="width: 50%;">
                <p>
                    1. To get paid, you will need to finish at least 3 sessions and click the <strong>Submit the HIT</strong>. <br>
                </p>
                <img src="{{ static_url("img\\report.png") }}" style="width: 50%;">
                <p>
                    2. If your partner disconnects from the chatting room during the conversation, you can describe the situation in the report textarea. <br>
                    We will judge whether you can get paid or not on your current task progress. <br>
                    
                    You are also able to report any offensive, abusive words by the other participant through the Report textarea. <br>
                    Please make sure your network environment is stable and you might not get paid if you disconnect from the chatting room.
                </p>

                <p>
                    <button class="btn btn-success" data-bs-toggle="collapse" type="button" data-bs-target="#negative">
                        Negative Examples (Click to check)
                    </button>
                </p>
                <div class="collapse" id="negative">
                    <div class="row">
                        <div class="col">
                            <hr>
                            <strong>1. Talk about the HIT it self:</strong> <br>
                            A: What's your topic? <br>
                            B: My topic is about having a vocation. <br>

                            <hr>
                            <strong>2. Not natural:</strong><br>
                            A: Hi, how are you? <br>
                            B: Hi, I'll have a trip. <br>
                            A: I'm doing great. <br>
                        </div>
                        <div class="col">
                            <hr>
                            <strong>3. Filler utterances:</strong> <br>
                            A: Hi. <br>
                            B: Hi. <br>
                            A: Hi. <br>
                            B: Hi. <br>

                            <hr>
                            <strong>4. Not talking about the event:</strong> <br>
                            A: Hey, do you have a boyfriend?
                        </div>
                    </div>
                </div>

                <p class="mt-5">
                    <button class="btn btn-success" data-bs-toggle="collapse" type="button" data-bs-target="#example">
                        An Positive Example (Click to check)
                    </button>
                </p>
                <!-- <h2 class="mt-5">Example conversation</h2> -->
                <div class="collapse" id="example">
                    <div class="row">
                        <div class="col">
                            <hr>
                            Initial events: <br>
                            A: You are writing your doctoral thesis. <br>
                            B: You are learning a new language. <br>
                            <hr>
                            <strong>Session 1</strong> <br>
                            A: Hi, how are you doing? <br>
                            B: Yeah, I'm doing great, how about you? <br>
                            A: I'm also doing great. Just recently I got busy for thesis writing. <br>
                            B: Wow, I didn't notice that you're graduating. <br>
                            A: Yeah, it's been quite a long time since I enrolled. <br>
                            B: Congratulations! Are you planning to find a job? <br>
                            A: Oh, no. Actually it takes quite a long time to get the thesis done. So, I probably
                            will need to spend another 6 months to finish the writing. <br>
                            B: That's quite a long time. Good luck with that. <br>
                            A: Thanks, I'll try my best. How about you? What's up to you recently? <br>
                            B: Learning Spanish. Difficult. <br>
                            A: Haha, I know. Learning a new language can be quite tired, especially the grammar things. <br>
                            B: Yeah, I still could get those things clearly. <br>
                            A: Take your time, I don't think that's something can be done in a short time. <br>
                            <hr>
                            Time gap: 3 hours <br>
                            New events: <br>
                            A: You have lunch in a restaurant. <br>
                               You take a nap. <br>
                               You attend a meeting. <br>
                            
                            B: You go to a cafe. <br>
                            You have a haircut. <br>
                            You read some books and magazines. <br>
                            <hr>
                            <strong>Session 2</strong> <br>
                            A: I had a terrible lunch. <br>
                            B: Well, that could happen, was the food bad? <br>
                            A: It was so bad. The burger tasted terrible. <br>
                            B: Well, better pray for a good dinner, then. <br>
                            A: I hope so. <br>
                            <hr>
                            Time gap: 5 days <br>
                            New events: <br>
                            A: You write a new chapter of your book. <br>
                            You attend a music festival. <br>
                            You visit a theme park. <br>
                            B: You go on a camping trip. <br>
                            You take an art class. <br>
                            You go to an art gallery. <br>
                        </div>
    
                        <div class="col">
                            
                            <hr>
                            <strong>Session 3</strong> <br>
                            B: Hey, it's been quite a while, how are you doing? <br>
                            A: I'm doing great. How about you? <br>
                            B: I'm also doing great. I had a long holiday and went on a camping trip. That helped
                            me relax quite a bit. <br>
                            A: Glad to hear that. I also want to have a trip, but jsut getting so busy recently. <br>
                            A: But I was able to attend a music festival last week, it was wonderful. <br>
                            B: Wow, that sounds interesting. Where was that festival? <br>
                            A: Oh, yeah, it was somewhere near to my university and that's why I'm able to attend that festival. <br>
                            B: Great, you definitely should take a rest. How is your thesis going? <br>
                            A: Oh, yeah, I've just finished a new chatper, but it seems that I will need more modifications later. <br>
                            B: That's great progress. Good luck on that. <br>
                            A: Thanks. So, did you have fun during the trip? Where did you go? <br>
                            B: Yeah, I went to a national park together with my friends. It was quite fun. The night view was so good. <br>
                            A: I hope I could also get a chance for a trip soon... <br>
                            B: You will. <br>
                            <hr>
                            Time gap: 3 months
                            New events:
                            A: You write several chapters of your thesis.<br>
                            You take a long vacation. <br>
                            You move to a new apartment. <br>
                            B: You move to a new home near to your workplace. <br>
                            You have a wedding anniversary. <br>
                            You take an online course. <br>
                            <hr>
                            <strong>Session 4</strong> <br>
                            A: Hey, how are you doing? It's been quite a long time. <br>
                            B: I'm doing great. How about you? It's really quite a long time. <br>
                            A: Glad to hear from you. I'm aslo doing great. How are things with you? <br>
                            B: Yeah, quite a lot of changes though. I moved to a new home. <br>
                            A: Wow, another city? <br>
                            B: No, the same city, but just near to my workplace. My previous place was not so convenient. <br>
                            A: Nice to hear that. Do you like your new house? <br>
                            B: Yeah, it's quite nice, much bigger than the old one. <br>
                            A: Glad to hear that. <br>
                            B: How have you been doing? Any progress on your graduation? <br>
                            A: Yeah, I've finished more chapters of the thesis, and my supervisor is happy about that. So, I 
                            think I'm in a quite good situation right now. <br>
                            B: That's huge progress, Congratulations! <br>
                            A: Thanks for that. I just want to take a long vacation now to have a rest. <br>
                            B: I know, hope you could be free from that very soon. <br>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <hr>
                </div>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <p id="submit_notification" style="color: red;">

        </p>
      </div>

      <div>
        <hr style="height:30px">
      </div>

      <p id="progress_report">

      </p>

      <div id="mturk">
        <form name='mturk_form' method='post' id='mturk_form' action='https://www.mturk.com/mturk/externalSubmit'>
          <input type="hidden" id="assignmentId" value="" name="assignmentId"/>
          <div>
            <input type="checkbox" id="submitCheck" name="submitCheck"/>
            <label for="submitCheck">I have finished the HIT and I'm ready to submit.</label>
            <input type="hidden" id="session_submit" value="" name="session_submit">
          </div>
          <p><input class="btn btn-primary" type="submit" id="hit_submit" disabled="true" value="Submit the HIT"/> </p>
        </form>
      </div>
      <script language='Javascript'>turkSetAssignmentID();</script>
      <div>

      </div>
        <!-- <form name='mturk_form' method='post' id='mturk_form' action='/finish'>
          <input type="hidden" id="assignmentId" value="" name="assignmentId"/>
          <div>
            <input type="checkbox" id="submitCheck" name="submitCheck"/>
            <label for="submitCheck">I have finished the task. (Check this if you have finished the conversations.)</label>
          </div>
          <p><input class="btn btn-primary" type="submit" id="hit_submit" disabled="true" value="Submit the Task"/> </p>
        </form> -->

      <div>
        <hr style="height:30px">
      </div>

      <div class="row">
        
        <p>
          You can check the insturctions here: <br>
          <button class="btn btn-secondary" value="Show Instructions" id="show_instruct" data-bs-toggle="modal" data-bs-target="#instruction">Show Instructions</button>
        </p>
        
        <div>
          <label for="report">
            You can report any problems in the task here, including unfinished task, offensive behaviors, etc. We will handle that as soon as possible.
          </label>
          <div>
            <textarea id="report_message" name="report message" placeholder="Describe the situation or any offensive behaviors..." style="width: 40vw;"></textarea>
          </div>
          <input class="btn btn-secondary" type="button" name="report" id="report" value="Send your report"/>
        </div>
      </div>
      <div class="row text-center mt-5">
        <p>
          Copyright©2023 event chat
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script src="{{ static_url("chat.js") }}" type="text/javascript"></script> -->
    <script src="{{ static_url("websocket.js") }}" type="text/javascript"></script>
  </body>
</html>