<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tornado Chat Demo</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
  </head>
  <body>
    <div class="container">
      <div class="row shadow mt-4">
        <div class="badge" style="background-color: rgb(213, 248, 145);">
            <p class="fs-3" style="color: black;">Room {{room_client_info['room_id']}} matched: Worker {{room_client_info['speaker_1']}} and Worker {{room_client_info['speaker_2']}}</p> 
        </div>
      </div>
    
      <div class="row mt-4">
        <div class="col-4">
          <p>
              Here goes the instruciton.
          </p>
          <input type="button" name="report" value="Report"/>
          <label for="report">If your matched partner spoke something offensive,
              you can click this button to report. The more details you could provide,
              the quicker we could handle your report.
          </label>
        </div>
      
        <div class="col-8 align-self-end">
          <div class="row" id="body">
            <div id="room_info">
              <input type="hidden" id="workerId" value="{{room_client_info['worker_id']}}"/>
              <input type="hidden" id="roomId" value="{{room_client_info['room_id']}}"/>
            </div>
            
            <div class="row">
              <div class="overflow-auto" style="height: 800px; background-color: bisque;" id="inbox_container">
                <div class="col-9 align-self-end list-group d-inline-block" id="inbox">

                </div>
              </div>
            </div>

            <!-- <div class="row" id="input">
              <form action="/message/new/id/{{room_client_info['room_id']}}?workerId={{room_client_info['worker_id']}}" method="post" id="messageform">
                <table>
                  <tr>
                    <td><label>Your ID: {{room_client_info['worker_id']}}</label></td>
                  </tr>
                  <tr>
                    <div id="events">
                      {{room_client_info['gap_info']}}
                      {{room_client_info['events_info']}}
                    </div>
                  </tr>
                  <tr>
                    <td><textarea name="body" id="message" style="width: 400px;"></textarea></td>
                    <td style="padding-left: 20px;">
                      <input class="btn btn-primary" type="submit" value="{{ _("Post") }}">
                      <input type="hidden" name="next" value="{{ request.path }}?workerId={{room_client_info['worker_id']}}">
                      {% module xsrf_form_html() %}
                    </td>
                    <td style="padding-left: 20px;">
                      <input type="button" class="btn btn-primary" value="New Session" id="new_session"/>
                      <input type="hidden" name="nextSession" value="{{ request.path }}?workerId={{room_client_info['worker_id']}}"/>
                    </td>
                  </tr>
                </table>
              </form>
            </div> -->
            <div class="row" id="input">
              <table>
                <tr>
                  <td><label>Your ID: {{room_client_info['worker_id']}}</label></td>
                </tr>
                <tr>
                  <div id="events">
                    {{room_client_info['gap_info']}}
                    {{room_client_info['events_info']}}
                  </div>
                </tr>
                <tr>
                  <td><textarea name="body" id="message" style="width: 400px;"></textarea></td>
                  <td style="padding-left: 20px;">
                    <input class="btn btn-primary" type="button" value="Post" id="new_message">
                    <input type="hidden" name="next" value="{{ request.path }}?workerId={{room_client_info['worker_id']}}">
                    {% module xsrf_form_html() %}
                  </td>
                  <td style="padding-left: 20px;">
                    <input type="button" class="btn btn-primary" value="New Session" id="new_session"/>
                    <input type="hidden" name="nextSession" value="{{ request.path }}?workerId={{room_client_info['worker_id']}}"/>
                  </td>
                </tr>
              </table>
            </div>


          </div>
        </div>
      </div>

      <div id="mturk">
        <form name='mturk_form' method='post' id='mturk_form' action='https://workersandbox.mturk.com/mturk/externalSubmit'>
          <p><input type="hidden" id="assignmentId" value="" name="assignmentId"/></p>
          <div>
            <input type="checkbox" id="submitCheck" name="submitCheck"/>
            <label for="submitCheck">I have finished the HIT and I'm ready to submit.</label>
          </div>
          <p><input type="submit" id="hit_submit" value="Finish the HIT and Go Back to AMT"/> </p>
        </form>
      </div>
      <script language='Javascript'>turkSetAssignmentID();</script>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <!-- <script src="{{ static_url("chat.js") }}" type="text/javascript"></script> -->
    <script>
      var ws = new WebSocket("ws://www.eventchat.tk/event/update");
      // register self as client
      ws.onopen = function() {
        message = {
          "type": "initialize",
          "worker_id": $("#workerId").val(),
          "room_id": $("#roomId").val(),
        }
        ws.send(JSON.stringify(message));
      };
      // process messages from server
      ws.onmessage = function (evt) {
        var response = JSON.parse(evt.data);
        // if the server send a message resposne
        if (response.type == "message") {
          $("#inbox").append(
            `<div class="list-group-item">
              <p class="text-wrap">
                ${response.speaker} : ${response.text}
              </p>
          </div>`
          );
          $("#message").val("").select();
        }

        // if the server send a disconnection resposne
        if (response.type == "partner_disconnect") {
          alert(response.text);
          $("#new_message").prop("disabled", true);
          $("#new_session").prop("disabled", true);
        }

        // if the server send a session resposne
        if (response.type == "session") {
          $("#events").html(
            `Gap: ${response.gap} <br>
            Events: ${response.events}`
          );
        }
      };
      // when closes
      ws.onclose = function() {
        ws.close();
        alert("disconnected from server, reconnecting");
        ws = new WebSocket("ws://www.eventchat.tk:8888/event/update");
      };

      // event listener for new session
      $("#new_session").on("click", function() {
        message = {
          "type": "session",
          "worker_id": $("#workerId").val(),
          "room_id": $("#roomId").val(),
        }
        ws.send(JSON.stringify(message));
      });

      //event listener for new message
      $("#new_message").on("click", function() {
        message = {
          "type": "message",
          "worker_id": $("#workerId").val(),
          "room_id": $("#roomId").val(),
          "message": $("#message").val(),
        }
        ws.send(JSON.stringify(message));
      })
    </script>
  </body>
</html>